<div class="w-full h-52 bg-black grid place-items-center">
  <div class="text-center">
    <h1 class="text-white text-lg lg:text-xl font-bold">Aplikasi Monitoring Hidroponik Berbasis MQTT</h1>
    <h1 class="text-white text-xl">©2023 by Mas Amirul Dimas Daen Pratama</h1>
  </div>
</div>
