<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://img.lovepik.com/free-png/20220108/lovepik-strawberry-png-image_401278447_wh860.png"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Sidebar Mobile -->
    <div
      id="sidebar-mobile"
      class="absolute overflow-none w-full -translate-x-96 duration-500 lg:hidden"
    >
      <div class="h-screen w-64 bg-[#1f2937]">
        <nav class="pt-40 space-y-3">
          <a
            href="/home/dashboard"
            class="w-full text-start hover:text-white hover:bg-[#0093A7] rounded-xl h-12 text-[#b3b3b3] text-xl font-medium block pt-2 pl-5"
          >
            Dashboard
          </a>
          <a
            href="/home/schedulling"
            class="w-full text-start hover:text-white hover:bg-[#0093A7] rounded-xl h-12 text-[#b3b3b3] text-xl font-medium block pt-2 pl-5"
          >
            Schedule
          </a>
          <a
            href="/home/deviceInfo"
            class="w-full text-start hover:text-white hover:bg-[#0093A7] rounded-xl h-12 text-[#b3b3b3] text-xl font-medium block pt-2 pl-5"
          >
            Device info
          </a>
        </nav>
      </div>
    </div>

    <!-- Sidebar and Content -->
    <div class="lg:flex h-screen">
      <!-- Sidebar -->
      <div class="w-64 bg-[#1f2937] h-screen hidden md:block">
        <a
          href="/home/dashboard"
          class="block text-4xl italic m-7 font-extrabold text-[#b3b3b3] hover:text-white"
          >AMHBM</a
        >
        <nav class="pt-7 space-y-3">
          <div
            id="profile"
            class="w-20 h-20 rounded-full mb-12 bg-white space-x-3 mx-auto justify-self-center"
            onclick="window.location.href = '/admin/dashboard'"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1200px-Circle-icons-profile.svg.png"
              alt=""
            />
            <h1 id="userL" class="text-white text-xl"></h1>
          </div>
          <a
            href="/home/dashboard"
            class="w-full hover:text-white hover:bg-[#0093A7] rounded-xl h-12 text-[#b3b3b3] text-xl font-medium block pt-2 pl-5 text-start"
          >
            Dashboard
          </a>
          <a
            href="/home/schedulling"
            class="w-full hover:text-white hover:bg-[#0093A7] rounded-xl h-12 text-[#b3b3b3] text-xl font-medium block pt-2 pl-5 text-start"
          >
            Scheduling
          </a>
          <a
            href="/home/deviceInfo"
            class="w-full hover:text-white hover:bg-[#0093A7] rounded-xl h-12 text-[#b3b3b3] text-xl font-medium block pt-2 pl-5 text-start"
          >
            Device info
          </a>
        </nav>
      </div>

      <!-- Header and Content -->
      <div
        id="content"
        class="container h-screen overflow-hidden overflow-y-auto overflow-x-auto bg-slate-300"
      >
        <!-- Header -->
        <div
          id="profile"
          class="w-full h-20 bg-[#00B4DB] flex sticky top-0 justify-between lg:justify-end"
        >
          <button
            id="sidebarBtn"
            class="space-y-3 mt-2 ml-10 lg:hidden md:hidden"
          >
            <div
              id="hamburger-1"
              class="w-7 h-[1px] bg-black duration-500"
            ></div>
            <div
              id="hamburger-2"
              class="w-7 h-[1px] bg-black duration-500"
            ></div>
            <div
              id="hamburger-3"
              class="w-7 h-[1px] bg-black duration-500"
            ></div>
          </button>
          <button
            class="font-bold hover:underline w-12 mr-8"
            onclick="logout()"
          >
            <img
              src="https://o.remove.bg/downloads/a6c11bc5-4a27-432d-9ed0-c404af8ef4bc/images-removebg-preview.png"
              alt="Logout"
            />
          </button>
        </div>
        <!-- Content -->
        <%- body %>
        <!-- Footer -->
        <%- include('footer') %>
      </div>
    </div>

    <script>
      const sidebarBtn = document.querySelector("#sidebarBtn");
      const dropdownBtn = document.querySelector("#btn-dropdown");
      const dropdownBtnMobile = document.querySelector("#btn-dropdown-mobile");

      const hamburger1 = document.getElementById("hamburger-1");
      const hamburger2 = document.getElementById("hamburger-2");
      const hamburger3 = document.getElementById("hamburger-3");

      // User
      document.getElementById("userM").innerHTML = localStorage.username;
      document.getElementById("userL").innerHTML = localStorage.username;

      // Sidebar btn
      sidebarBtn.addEventListener("click", () => {
        const sidebarMobile = document.querySelector("#sidebar-mobile");
        sidebarMobile.classList.toggle("-translate-x-96");

        // Hamburger menu
        hamburger1.classList.toggle("-translate-x-96");
        hamburger2.classList.toggle("absolute");
        hamburger2.classList.toggle("rotate-45");
        hamburger2.classList.toggle("top-9");
        hamburger3.classList.toggle("absolute");
        hamburger3.classList.toggle("-rotate-45");
        hamburger3.classList.toggle("bottom-8");
      });

      // Dropdown button
      dropdownBtnMobile.addEventListener("click", () => {
        const dropdownDivMobile = document.querySelector("#dropdown-mobile");
        dropdownDivMobile.classList.toggle("hidden");
      });

      // Dropdown button
      dropdownBtn.addEventListener("click", () => {
        const dropdownDiv = document.querySelector("#dropdown");
        dropdownDiv.classList.toggle("hidden");
      });

      // logout button
      async function logout() {
        try {
          const response = await fetch("/logout");
          const data = await response.json();
          if (data.result === "SUCCESS") {
            alert("Logout success !");
            window.location.href = "/";
          } else {
            alert("Logout success !");
            window.location.href = "/";
          }
        } catch (e) {
          console.error(e);
          alert("Request error!");
          window.location.href = "/";
        }
      }
    </script>
  </body>
</html>
