<!-- <h1>Hello dashboard</h1>

<div class="w-96">
  <canvas id="myChart"></canvas>
</div>



<script>
  const ctx = document.getElementById("myChart");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          label: "# of Votes",
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1,
          backgroundColor: "#FF6384",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script> -->

<div class="m-10">
  <div class="bg-white p-4">
    <h1 class="text-2xl font-extrabold text-center">DEV001</h1>
    <div>
      <p class="text-2xl font-bold text-center lg:text-start underline">Live Data</p>
      <div class="flex flex-wrap justify-evenly gap-3">
        <div class="w-52 h-52 bg-blue-500 rounded-full"></div>
        <div class="w-52 h-52 bg-blue-500 rounded-full"></div>
        <div class="w-96 h-32 bg-blue-500 rounded-full lg:mt-5"></div>
      </div>
    </div>

    <!-- Chart -->
    <p class="text-2xl font-bold text-center lg:text-start mt-12 underline">Chart Data</p>
    <div class="flex flex-wrap justify-evenly mt-3">
      <div class="">
        <p class="text-2xl font-bold text-center lg:text-start">Chart Suhu Air</p>
        <canvas id="chartSuhuAir"></canvas>
      </div>
      <div class="">
        <p class="text-2xl font-bold text-center lg:text-start">Chart Suhu Lingkungan</p>
        <canvas id="chartSuhuLingkungan"></canvas>
      </div>
      <div class="">
        <p class="text-2xl font-bold text-center lg:text-start">Chart Total Dissolved Solid</p>
        <canvas id="chartTds"></canvas>
      </div>
    </div>
    <!-- <div class="w-96 mt-12">
    </div>
    <div class="w-96 mt-12">
    </div> -->
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const suhuAir = document.getElementById("chartSuhuAir");
  const suhulingkungan = document.getElementById("chartSuhuLingkungan");
  const tds = document.getElementById("chartTds");

  new Chart(suhuAir, {
    type: "bar",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          label: "# of Votes",
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1,
          backgroundColor: "#FF6384",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });

  new Chart(suhulingkungan, {
    type: "bar",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          label: "# of Votes",
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1,
          backgroundColor: "#FF6384",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });

  new Chart(tds, {
    type: "bar",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          label: "# of Votes",
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1,
          backgroundColor: "#FF6384",
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
