<h1 class="text-center font-bold text-3xl mt-8">Dashboard</h1>
<div id="containerData" class="bg-white p-5 m-5 lg:m-10"></div>
<div id="containerDevices" class="bg-white p-5 m-5 lg:m-10"></div>
<script>
  window.addEventListener("DOMContentLoaded", async () => {
    try {
      // Accumulative data
      const response = await fetch("/devices?state=dashboard");
      const datas = await response.json();
      let arrSuhuAir = [];
      let arrSuhuLingkungan = [];
      let arrTds = [];
      const today = new Date();
      const dd = String(today.getDate()).padStart(2, "0");
      const mm = String(today.getMonth() + 1).padStart(2, "0");
      const yyyy = today.getFullYear();

      const currentDate = dd + "/" + mm + "/" + yyyy;
      datas.map((data) => {
        if (data.topic1_VALUE === null) {
          arrSuhuAir.push(0);
        } else {
          arrSuhuAir.push(data.topic1_VALUE);
        }

        if (data.topic2_VALUE === null) {
          arrSuhuLingkungan.push(0);
        } else {
          arrSuhuLingkungan.push(data.topic2_VALUE);
        }

        if (data.topic3_VALUE === null) {
          arrTds.push(0);
        } else {
          arrTds.push(data.topic3_VALUE);
        }
      });

      const sum1 = arrSuhuAir.reduce((acc, cur) => {
        return acc + Math.round(cur);
      }, 0);
      const sum2 = arrSuhuLingkungan.reduce((acc, cur) => {
        return acc + Math.round(cur);
      }, 0);
      const sum3 = arrTds.reduce((acc, cur) => {
        return acc + Math.round(cur);
      }, 0);

      const suhuAir = Math.round(sum1 / arrSuhuAir.length);
      const suhuLingkungan = Math.round(sum2 / arrSuhuLingkungan.length);
      const tds = Math.round(sum3 / arrTds.length);

      document.getElementById("containerData").innerHTML += `<div class="flex justify-between">
        <h1 class="text-center text-xl lg:text-3xl font-bold">Accumulative data</h1>
        <h1 class="text-center text-xl lg:text-3xl">${currentDate}</h1>
      </div>
      <div id="liveData" class="flex flex-wrap justify-evenly gap-3 mt-5">
        <div class="w-52 h-52 bg-blue-500 rounded-full grid place-items-center">
          <span class="text-7xl font-bold text-white">${suhuAir}°C</span>
          <span class="text-xl mb-5 text-white">Water temp</span>
        </div>
        <div class="w-52 h-52 bg-blue-500 rounded-full grid place-items-center">
          <span class="text-7xl font-bold text-white">${suhuLingkungan}%</span>
          <h1 class="text-xl mb-5 text-white">Humidity</h1>
        </div>
        <div class="w-96 h-32 bg-blue-500 rounded-full lg:mt-5 grid place-items-center">
          <span class="text-7xl font-bold text-white">${tds}ppm</span>
          <h1 class="text-xl text-white">Total dissolved solid</h1>
        </div>
      </div>
    `;

      // Device information
      const responseDevInfo = await fetch("/devices?state=devInfoDashboard");
      const datasDevInfo = await responseDevInfo.json();
      let total = [];
      datasDevInfo.map((dataDev) => {
        total.push(dataDev);
      });
      document.getElementById("containerDevices").innerHTML += ` <div class="space-y-4">
    <h1 class="text-start text-xl lg:text-3xl font-bold">Device information</h1>
    <div class="lg:ml-5 space-y-2">
      <h1 class="text-xl lg:text-2xl font-extrabold">Total device ${total.length}</h1>
      <h1 class="text-xl lg:text-2xl font-extrabold">List device</h1>
      <ul id="deviceList" class="ml-2 text-xl lg:text-2xl font-bold space-y-3">
      </ul>
    </div>`;
      total.map((deviceName) => {
        document.getElementById("deviceList").innerHTML += `<li class="flex space-x-3">
          <img src="https://cdn-icons-png.flaticon.com/512/1698/1698293.png" alt="" class="w-8" />
          <h1>${deviceName.deviceName}</h1>
        </li>`;
      });
    } catch (e) {
      console.log(e);
    }
  });
</script>
