<h1 class="text-center font-bold text-3xl mt-8">Device Details</h1>

<div class="m-10 grid space-y-3">
  <form action="/searchDevices" method="get" class="mt-5">
    <div class="grid grid-cols-2 justify-between">
      <input
        id="searchDevices"
        type="text"
        name="searchDevices"
        class="rounded-lg pl-3"
        placeholder="Search Devices key..."
      />
      <button
        id="searchDevices"
        type="submit"
        class="justify-self-end bg-white p-2 hover:bg-slate-700 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out hover:text-white"
        name="searchDevices"
      >
        Search
      </button>
    </div>
  </form>
  <div class="bg-white p-8 space-y-2">
    <h1 class="text-2xl font-bold underline">DEV001</h1>
    <p class="text-2xl font-medium">Device Name : <span>DEV001</span></p>
    <p class="text-2xl font-medium">
      Ip address Device : <span>10.200.0.21</span>
    </p>
    <p class="text-2xl font-medium">Subscribe to topic name :</p>
    <ul class="ml-3 text-2xl font-medium italic">
      <li>/suhuair</li>
      <li>/suhulingkungan</li>
      <li>/tds</li>
    </ul>
    <ul>
      <% devices.forEach(device => { %>
      <li><%= device.deviceKey %></li>
      <% }) %>
    </ul>
  </div>
</div>
