<h1 class="text-center font-bold text-3xl mt-8">Device info</h1>

<div class="m-10 grid space-y-3">
  <div class="grid grid-cols-2 justify-between mr-10">
    <input id="searchDevices" name="searchDevices" type="text" class="rounded-lg pl-3" placeholder="Search Devices key..." />
    <button
      id="submitSearch"
      type="button"
      onclick="getAllDevices()"
      class="justify-self-end bg-white hover:bg-slate-700 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out hover:text-white">
      Search
    </button>
  </div>
  <div id="results"></div>

  <div class="bg-white p-8 space-y-2">
    <h1 class="text-2xl font-bold">DEV001</h1>
    <p class="text-2xl font-medium">Device Name : <span>DEV001</span></p>
    <p class="text-2xl font-medium">Ip address Device : <span>10.200.0.21</span></p>
    <p class="text-2xl font-medium">Topic Name :</p>
    <ul class="ml-3 text-2xl font-medium italic">
      <li>/suhuair</li>
      <li>/suhulingkungan</li>
      <li>/tds</li>
    </ul>
  </div>
</div>

<script>
  async function getAllDevices() {
    try {
      const searchElement = document.getElementById("searchDevices").value;
      const response = await fetch("/devices?state=bykey&key=" + searchElement);
      const data = await response.json();
      console.log(data);
    } catch (e) {
      console.log(e);
    }
  }
</script>
