<h1 class="text-center font-bold text-3xl mt-8">Device info</h1>

<div class="m-10 grid space-y-3">
  <div class="grid grid-cols-2 justify-between">
    <input
      id="searchDevices"
      name="searchDevices"
      type="text"
      minlength="2"
      maxlength="5"
      class="rounded-lg pl-3 text-sm lg:text:lg"
      placeholder="Search Devices key..."
    />
    <button
      id="submitSearch"
      type="button"
      onclick="getAllDevices()"
      class="justify-self-end rounded-lg p-2 bg-white hover:bg-slate-700 hover:shadow-lg focus:bg-slate-700 focus:text-white focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out hover:text-white"
    >
      Search
    </button>
  </div>
  <% devices.forEach(device => { %>
  <div class="bg-white flex justify-between p-5">
    <div class="flex space-x-2">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1698/1698293.png"
        alt="deviceNameList"
        class="w-10"
      />
      <h1 class="text-xl lg:text-3xl font-medium">
        <%= device.deviceName %> %>
      </h1>
    </div>
    <button
      id="btnDetail"
      class="text-lg lg:text-xl hover:underline hover:text-blue-500"
      data-device-key="<%= device.deviceKey %>"
    >
      Detail
    </button>
  </div>
  <% }) %>

  <script>
    const btnDetail = document.querySelectorAll("#btnDetail");
    btnDetail.forEach((btn) => {
      btn.addEventListener("click", async () => {
        const deviceKey = btn.dataset.deviceKey;
        window.location.href = `/detail?key=${deviceKey}`;
      });
    });
  </script>
  <script>
    async function getAllDevices() {
      try {
        const searchElement = document.getElementById("searchDevices").value;
        const response = await fetch(
          "/devices?state=info&key=" + searchElement
        );
        const datas = await response.json();
      } catch (e) {
        console.log(e);
      }
    }
  </script>
</div>
