<h1 class="text-center font-bold text-3xl mt-8">Device Details</h1>

<div class="m-10 grid space-y-3">
  <form action="/searchDevices" method="get" class="mt-5">
    <div class="grid grid-cols-2 justify-between mr-10">
      <input type="text" class="rounded-lg pl-3" name="searchDevices" id="searchDevices" placeholder="Search Devices key..." />
      <button
        id="searchDevices"
        type="submit"
        class="justify-self-end bg-white hover:bg-slate-700 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out hover:text-white"
        name="searchDevices"
        id="">
        Search
      </button>
    </div>
  </form>
  <div class="bg-white p-8 space-y-2">
    <h1 class="text-2xl font-bold">DEV001</h1>
    <p class="text-2xl font-medium">Device Name : <span>DEV001</span></p>
    <p class="text-2xl font-medium">Ip address Device : <span>10.200.0.21</span></p>
    <p class="text-2xl font-medium">Topic Name :</p>
    <ul class="ml-3 text-2xl font-medium italic">
      <li>/suhuair</li>
      <li>/suhulingkungan</li>
      <li>/tds</li>
    </ul>
  </div>
</div>
