<div class="bg-white lg:w-[700px] rounded-md">
  <h1 class="text-4xl font-bold mb-12 text-center pt-5">Register</h1>
  <form>
    <!-- Username input -->
    <div class="mb-6 mr-4 ml-4">
      <label for="username" class="text-lg font-bold">Username</label>
      <input
        id="username"
        type="text"
        name="username"
        class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        required />
    </div>

    <!-- Password input -->
    <div class="mb-6 ml-4 mr-4">
      <label for="passwrod" class="text-lg font-bold">Password</label>
      <input
        id="currentPassword"
        type="password"
        class="mb-5 form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        required />
      <label for="passwrod" class="text-lg font-bold">Confirm password</label>
      <input
        id="confirmPassword"
        type="password"
        class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        required />
      <div class="mt-3 text-end">
        <input type="checkbox" onclick="showPass()" />
        <label for="checkbox">Show password</label>
      </div>
    </div>

    <!-- Confirm password -->
    <div class="mb-6 mr-4 ml-4">
      <label for="email" class="text-lg font-bold">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        required />
    </div>

    <!-- Submit button -->
    <div class="mx-auto grid justify-items-center space-y-3 mb-8">
      <button
        type="submit"
        name="submit"
        class="form-control px-7 py-3 bg-green-600 text-white font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out w-3/4">
        Register
      </button>
    </div>
  </form>
</div>

<script>
  // Modules element
  const username = document.querySelector("#username");
  const currentPassword = document.querySelector("#currentPassword");
  const confirmPassword = document.querySelector("#confirmPassword");
  const email = document.querySelector("#email");
  const form = document.querySelector("form");
  const modal = document.querySelector("#modalMessage");

  function showPass() {
    if (currentPassword.type === "password") {
      currentPassword.type = "text";
    } else {
      currentPassword.type = "password";
    }
  }

  // User register
  async function userRegister() {
    try {
      const response = await fetch("/userRegister", {
        method: "POST",
        mode: "cors",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          username: username.value,
          password: currentPassword.value,
          email: email.value,
        }),
      });
      const datas = await response.json();
      if (datas.statusText === "CONFLICT") {
        document.getElementById("msg").innerHTML = datas.message;
        document.getElementById("modalBody").classList.add("bg-red-200");
        modal.classList.toggle("-translate-y-40");
        setTimeout(() => {
          modal.classList.toggle("-translate-y-40");
        }, 2000);
      } else {
        window.location.href = "/";
      }
    } catch (e) {
      console.log(e);
    }
  }

  // Form submit
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    try {
      if (currentPassword.value !== confirmPassword.value) {
        document.getElementById("msg").innerHTML = "Password doesn`t match !";
        document.getElementById("modalBody").classList.add("bg-red-200");
        modal.classList.toggle("-translate-y-40");
        setTimeout(() => {
          modal.classList.toggle("-translate-y-40");
        }, 2000);
      } else {
        userRegister();
      }
    } catch (e) {
      console.log(e);
    }
  });
</script>
