<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register</title>
  </head>
  <body class="bg-gradient-to-tr from-[#00B4DB] to-[#0083B0] grid grid place-items-center h-screen">
    <div class="bg-white lg:w-[700px] rounded-md">
      <h1 class="text-4xl font-bold mb-12 text-center pt-5">Register</h1>
      <form action="/userRegister" method="post">
        <!-- Username input -->
        <div class="mb-6 mr-4 ml-4">
          <label for="username" class="text-lg font-bold">Username</label>
          <input
            id="username"
            type="text"
            name="username"
            class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            required />
        </div>

        <!-- Password input -->
        <div class="mb-6 ml-4 mr-4">
          <label for="passwrod" class="text-lg font-bold">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            value=""
            required />
          <div class="mt-3 text-end">
            <input type="checkbox" onclick="showPass()" />
            <label for="checkbox">Show password</label>
          </div>
        </div>
        <div class="mb-6 mr-4 ml-4">
          <label for="email" class="text-lg font-bold">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            value=""
            required />
        </div>

        <!-- Submit button -->
        <div class="mx-auto grid justify-items-center space-y-3 mb-8">
          <button
            type="submit"
            class="form-control px-7 py-3 bg-green-600 text-white font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out w-3/4">
            Register
          </button>
        </div>
      </form>
    </div>
  </body>
  <script>
    const myPass = document.querySelector("#password");
    function showPass() {
      if (myPass.type === "password") {
        myPass.type = "text";
      } else {
        myPass.type = "password";
      }
    }
  </script>
</html>
