<div class="container">
  <div class="text-header m-5">
    <h1 class="text-xl font-bold text-black">
      Silahkan masukkan pengaturan jadwal penyiraman di kolom dibawah ini
    </h1>
  </div>
  <div class="flex">
    <h1 class="text-xl font-bold ml-5">Dimulai</h1>
    <input
      id="on"
      type="text"
      class="ml-20 w-72 h-10 bg-white rounded-lg text-center"
      placeholder="1 sd 24"
    />
  </div>
  <div class="flex mt-10">
    <h1 class="text-xl font-bold ml-5">Diberhentikan</h1>
    <input
      id="off"
      type="text"
      class="ml-5 w-72 h-10 bg-white rounded-lg text-center"
      placeholder="1 sd 24"
    />
    <button
      type="submit"
      class="inline-block ml-2 w-20 h-10 border-2 font-bold bg-red-500 rounded-lg hover:bg-red-700"
    >
      Input
    </button>
  </div>
  <div class="mx-auto">
    <p class="font-medium mt-5 text-start mx-5">
      Angka yang di input akan otomatis diterjemahkan dalam bentuk jam 1 sd 24
      dan direset tiap satu hari
    </p>
  </div>
</div>
